<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LinguagemJAVA_super/src/control_3CD/Start_THREAD_createThread03_writeNames_v02OO.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="control_3CD.Start_THREAD_createThread03_writeNames_v02OO"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LinguagemJAVA_super"/>
</launchConfiguration>
